// LIST SYSTEM
.table-list{ display: block; width: 100%; 
  &.fix--shadow,
  &.scroll-x{ overflow-x: auto; -webkit-overflow-scrolling: touch;width: auto; padding-left: 3px; padding-right: 3px;margin-right: -3px; margin-left: -3px;}
	.filters+&{margin-top: 1em;}
  %input{min-width: 150px;}
  input[type=number]{min-width: 0;}

  &.mode--block{ overflow: visible;
    thead, .table-list__headline{display: none;}
    tbody, .table-list__container{display: flex; flex-wrap: wrap; gap: 1em; width: 100%;}
    .table-list__line{position: relative; display: flex;flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 30%; max-width: 100%; min-width: 300px; gap: 1em; padding: 1.35em 1.5em;
      &:empty,
      &.filler{background: none; height: 0; border: 0; padding: 0; margin: 0; pointer-events: none;}
      @include media-max(xs){min-width: 250px;} 
      &.separator{flex-basis: 100%;padding: 0;}
    }
    .table-list__cell{max-width: none; width: 100%; padding: 0;
      &:empty{display: none;}
      &[data-name="actions"]{margin-top: auto; text-align: right;
        i[class*=fa],svg{font-size: 1.25em;}
      }
    }
    .table-list__action{margin: 0.2em 0.35em;}
    .table-list__cell[data-label]:before{content: attr(data-label); display: block; font-size: 0.8em; opacity: 0.45;}

    table table{ 
      &.table{margin-bottom: 1em;}
      thead, .table-list__headline{display: table-row!important;}
      tbody, .table-list__container{display: table-row-group!important;}
      .table-list__line,tr{display: table-row!important;}
    }
  }
}
.table-list__container{width: 100%; display: table; table-layout: auto; border-collapse: separate; border-spacing: 0 0.5em;
  &.loading{
    .table-list__line{@extend .loading;}
  }

  &.keepOne .table-list__headline+.table-list__line:last-child .table-list__cell[data-name="actions"] *[data-action="delete"]{display: none;pointer-events: none;}
}
.table-list__headline{transform: translateY(0.5em); display: table-row;
	.table-list__cell{white-space: nowrap; max-width: none;}
}
.table-list__line{@include paper(); display: table-row;
  &.filler{display: none;}
  &.loading{ pointer-events: none;
    &>*{opacity: 0.3;}
  }
  &.separator{background-color: transparent; box-shadow: none; color: rgba(contrastFW($primary,body(background)),0.2);
    & .table-list__cell{padding: 1em 0.5em 0; cursor: pointer;}
  }

  // specials
  &.type--fieldsetStart,
  &.type--fieldsetStop{background: $primary; color:contrastFW(#fff,$primary);}
  &.type--hidden{background: rgba($primary,0.1); color:contrastFW(body(font-color),rgba($primary,0.1));}
}
.table-list__cell{ display: table-cell; padding: 0.5em 0.75em; vertical-align: top; min-width: 150px; word-break: keep-all; overflow-wrap: break-word;
  @include media-max(lg){max-width: 20vw;}
  &[data-name*="nb"],
  &[data-name*="Lead"]{text-align: center;
    .mode--block &{text-align: left; }
  }
  &[data-name="id"]{text-align: center; width: 50px; min-width: 0;}
  &[data-name="actions"]{text-align: center; width: 50px; min-width: 0; white-space: nowrap;
    &.toggled{
      &>.table-list__action:not(.table-list__action--wrapper){
        display: none;
      }
    }
  }
  &[data-name*="tags"], 
  .valign--middle &, 
  &.valign--middle {vertical-align: middle;}
  .table-list__sort{display: inline-block; width: 30px; line-height: 1.2em; cursor: pointer; font-size: 1.35em; text-align: right; margin-left: 1em; opacity: 0.4; transition: opacity 0.4s;
    &:hover,&.active{opacity: 1;}
  }
}

.table-list__action{display: inline-block; margin: 0.2em; line-height: 1.2; min-width: 1.4em; color: inherit; position: relative;
  &:hover{color: contrastFW($primary,body(block-background));}
}

.table-list__action--wrapper{  display: inline-flex !important; align-items: center; justify-content: center;
  .table-list__action{display: none;}
  .table-list__action--toggler{display: inline-block;
    .toggler--close{display: none;}
  }
  .table-list__cell.toggled & {padding: 0 0.55em; width: auto !important;
    .table-list__action{display: inline-block;}
    .table-list__action--toggler{
      .toggler--open{display: none;}
      .toggler--close{display: inline;}
    }
  }
}

.table-list__container{
  thead tr{@extend .table-list__headline;}
  tbody tr:not(.table-list__headline){@extend .table-list__line;}
  td,th{@extend .table-list__cell;}
}