// LIST SYSTEM
.table-list{ display: block; width: 100%; 
  &.fix--shadow,
  &.scroll-x{ overflow-x: auto; -webkit-overflow-scrolling: touch;width: auto; padding-left: 3px; padding-right: 3px;margin-right: -3px; margin-left: -3px;}
	.filters+&{margin-top: 1em;}
  %input{min-width: 150px;}
  input[type=number]{min-width: 0;}

  &.mode--block{ overflow: visible;
    thead, .table-list__headline{display: none;}
    tbody, .table-list__container{display: flex; flex-wrap: wrap; gap: 1em; width: 100%;}
    .table-list__line{position: relative; display: flex;flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 30%; max-width: 100%; min-width: 300px; gap: 1em; padding: 1.35em 1.5em;
      &:empty,
      &.filler{background: none; height: 0; border: 0; padding: 0; margin: 0; pointer-events: none;}
      @include media-max(xs){min-width: 250px;} 
      &.separator{flex-basis: 100%;padding: 0;}
    }
    .table-list__cell{max-width: none; width: 100%; padding: 0;
      &:empty{display: none;}
      &[data-name="actions"]{margin-top: auto; text-align: right;
        i[class*=fa],svg{font-size: 1.25em;}
      }
    }
    .table-list__actions{display: flex; align-items: center; justify-content: flex-end;}
    .table-list__cell[data-label]:before{content: attr(data-label); display: block; font-size: 0.8em; opacity: 0.45;}

    table table{ 
      &.table{margin-bottom: 1em;}
      thead, .table-list__headline{display: table-row!important;}
      tbody, .table-list__container{display: table-row-group!important;}
      .table-list__line,tr{display: table-row!important;}
    }
  }
}
.table-list__container{width: 100%; display: table; table-layout: auto; border-collapse: separate; border-spacing: 0 0.5em;
  &.loading{
    .table-list__line{@extend .loading !optional;}
  }

  &.keepOne .table-list__headline+.table-list__line:last-child .table-list__cell[data-name="actions"] *[data-action="delete"]{display: none;pointer-events: none;}
}
.table-list__headline{transform: translateY(0.5em); display: table-row;
	.table-list__cell{white-space: nowrap; max-width: none;
    &[data-name="actions"]{text-align: center;}
  }
}

@mixin lineColored(){
  --line: var(--primary);
  --line-color-l: -20;
  --line-color-bg-l: 30;
  background: Hsl(from var(--line) h s calc(l + var(--line-color-bg-l))); 
  color     : Hsl(from var(--line) h s calc(l + var(--line-color-l)));
}
.table-list__line{@include paper(); display: table-row;
  &.filler{display: none;}
  &.loading{ pointer-events: none;
    &>*{opacity: 0.3;}
  }
  &.separator{background-color: transparent; box-shadow: none; color: rgba(contrastFW($primary,body(background)),0.2);
    & .table-list__cell{padding: 1em 0.5em 0; cursor: pointer;}
  }

  // specials
  &.type--fieldsetStart,
  &.type--fieldsetStop{background: $primary; color:contrastFW(#fff,$primary);}
  &.type--hidden{background: rgba($primary,0.1); color:contrastFW(body(font-color),rgba($primary,0.1));}

  &.success{
    @include lineColored();
    --line: #{$success};
  }
  &.info{
    @include lineColored();
    --line: #{$info};
  }
  &.warning{
    @include lineColored();
    --line: #{$warning};
  }
  &.error{
    @include lineColored();
    --line: #{$error};
    --line-color-l: -10;
    --line-color-bg-l: 40;
  }
}
.table-list__cell{ display: table-cell; padding: 0.5em 0.75em; vertical-align: top; min-width: 150px; word-break: keep-all; overflow-wrap: break-word;
  @include media-max(lg){max-width: 20vw;}
  &[data-name*="nb"],{text-align: center;
    .mode--block &{text-align: left; }
  }
  &[data-name="id"]{text-align: center; width: 50px; min-width: 0;
    .mode--block &{
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      min-width: 0;
      padding: 0.85em 1em;
      line-height: 1;
      font-size: 1.25em;
      font-weight: bold;
      opacity: 0.65;
    }
  }
  &[data-name="actions"]{text-align: right; width: 50px; min-width: 0; white-space: nowrap;
    &.toggled{
      &>.table-list__action:not(.table-list__action--wrapper){
        display: none;
      }
    }
  }
  &[data-name*="tags"], 
  .valign--middle &, 
  &.valign--middle {vertical-align: middle;}
  .table-list__sort{display: inline-block; width: 30px; line-height: 1.2em; cursor: pointer; font-size: 1.35em; text-align: right; margin-left: 1em; opacity: 0.4; transition: opacity 0.4s;
    &:hover,&.active{opacity: 1;}
  }

  .lastColSticky .table-list__line &:last-of-type:not(:empty){
    position: sticky;
    right: 0;
    background: inherit;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  }
  .lastColSticky.scroll-x .table-list__line &:last-of-type:not(:empty){right: -3px;}
}

.table-list__action--toggler,
.table-list__action{display: inline-block; margin: 0.2em; line-height: 1.2; min-width: 1.4em; color: inherit; position: relative; cursor: pointer; text-align: center;
  &:hover{color: contrastFW($primary,body(block-background));}
  &.disabled,
  &[disabled]{opacity: 0.4; pointer-events: none;}
  &[tooltip]:not([tooltip=""]).tooltipOffset--left:before {left: auto; right: 0; transform: none;}
}

.table-list__action--wrapper{  display: inline-flex !important; align-items: center; justify-content: center; border: 1px solid currentColor; border-radius: 100px;
  .table-list__action{display: none;}
  .table-list__action--toggler{ display: inline-flex; align-items: center; justify-content: center; aspect-ratio: 1;
    .toggler--close{display: none;}
  }
  .table-list__cell.toggled & {padding: 0 0.35em; width: auto !important; 
    .table-list__action{display: inline-block;}
    .table-list__action--toggler{
      .toggler--open{display: none;}
      .toggler--close{display: inline;}
    }
  }
}

.table-list__container{
  thead tr{@extend .table-list__headline;}
  tbody tr:not(.table-list__headline){@extend .table-list__line;}
  td,th{@extend .table-list__cell;}
}