:root{
  --tablelist-borderspacing: 0 0.5em;
  --tablelist-cell-p-x: 0.75em;
  --tablelist-cell-p-y: 0.5em;
  --tablelist-cell-minwidth: 12ch;
  --tablelist-cell-maxwidth: none;
  --tablelist-cell-aligncontent: baseline;
  --tablelist-action-width: 40px;
}
.table-list{
  display: block; width: 100%;
  --theme: #default[block-background];
  &.fix--shadow,
  &.scroll-x{ overflow-x: auto; -webkit-overflow-scrolling: touch;width: auto; padding-left: 3px; padding-right: 3px;margin-right: -3px; margin-left: -3px;}
  &.keepOne{
    .table-list__headline+:last-child:is(tr,.table-list__line){
      *[data-action="delete"],
      *[data-action="removeLine"] {
        pointer-events: none;
        opacity: 0.2;
      }
    }
  }
  &.no-removeLine{
    *[data-action="delete"],
    *[data-action="removeLine"] {
      pointer-events: none;
      opacity: 0.2;
    }
  } 

  &.mode--block{ overflow: visible;
    thead, .table-list__headline{display: none;}
    tbody, .table-list__container{width: 100%; gap: 1em; display: flex; flex-wrap: wrap; }
    tbody{.grid(@autocols:auto-fit,@gap:1em); --griditem-minwidth: var(--tablelist-line-minwidth,@griditem-minwidth);}
    .table-list__line{position: relative; display: flex;flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 30%; max-width: 100%; min-width: var(--tablelist-line-minwidth,0); gap: 1em; padding: 1.35em 1.5em;
      &:empty,
      &.filler{background: none; height: 0; border: 0; padding: 0; margin: 0; pointer-events: none;}
      // .media-max(xs,{min-width: 250px;});
      &.separator{flex-basis: 100%;padding: 0; grid-column: 1/-1;}
    }
    .table-list__cell{max-width: none; width: 100%; padding: 0;
      &:empty{display: none;}
      &[data-name="actions"]{margin-top: auto; text-align: right;
        i[class*=fa],svg{font-size: 1.25em;}
      }
    }
    .table-list__actions{display: flex; align-items: center; justify-content: flex-end;}
    .table-list__cell[data-label]:before{content: attr(data-label); display: block; font-size: 0.8em; opacity: 0.45;}

    table table{ 
      &.table{margin-bottom: 1em;}
      thead, .table-list__headline{display: table-row!important;}
      tbody, .table-list__container{display: table-row-group!important;}
      .table-list__line,tr{display: table-row!important;}
    }
  }
}
.table-list__container{
  width: 100%; 
  display: table; 
  table-layout: auto; 
  border-collapse: separate; 
  border-spacing: var(--tablelist-borderspacing);
}
.table-list__line{
  &:not([class*=bg-]):not([class*=block-]){background: var(--theme); }
  display: table-row;
  .shdw();
  --shdw-elevation: 0.15;
  min-width: var(--tablelist-line-minwidth,100%);
  display: table-row;
  .table-list.loading &,
  &.loading{ pointer-events: none;
    >*{opacity: 0.3;}
  }
  &.separator{
    --theme: transparent;
    --shdw-elevation: 0;
    box-shadow: none; 
    color: rgba(@primary,0.65);
    td,
    .table-list__cell{padding: 1em 0.5em 0; cursor: pointer;}
  }
  &.filler{display: none;}
  // specials
  &.type--fieldsetStart,
  &.type--fieldsetStop{background: @primary; color:.getBestReadableFontColorOn(@primary)[@result] ;}
  &.type--hidden{background: tint(@primary, 90); color:.getBestReadableFontColorOn(tint(@primary, 90))[@result] ; }
  
}
.table-list__headline{
  transform: translateY(0.5em); 
  display: table-row;
  font-size: 0.8em;
  .table-list__cell{white-space: nowrap; max-width: none;
    &[data-name="actions"]{text-align: right;}
  }
}
.table-list__cell{
  display: table-cell; 
  padding: var(--tablelist-cell-p-y) var(--tablelist-cell-p-x); 
  min-width: var(--tablelist-cell-minwidth); 
  max-width: var(--tablelist-cell-maxwidth); 
  align-content: var(--tablelist-cell-aligncontent); 
  word-break: keep-all; 
  overflow-wrap: break-word;

  &:is(td)[data-name="actions"]{.table-list__actions();}
  &[data-name*="nb"],{ text-align: center;
    .mode--block &{text-align: left; }
  }
  &[data-name="id"]{text-align: center; --tablelist-cell-minwidth: 2ch;
    .mode--block &{
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      min-width: 0;
      padding: 0.85em 1em;
      line-height: 1;
      font-size: 1.25em;
      font-weight: bold;
      opacity: 0.65;
    }
  }
  &[data-name*="tags"], 
  .valign--middle &, 
  &.valign--middle {vertical-align: middle;}
  .table-list__sort{display: inline-block; width: 30px; line-height: 1.2em; cursor: pointer; font-size: 1.35em; text-align: right; margin-left: 1em; opacity: 0.4; transition: opacity 0.4s;
    &:hover,&.active{opacity: 1;}
  }

  .lastColSticky .table-list__line &:last-of-type:not(:empty):not(:first-child){
    position: sticky;
    right: 0;
    width: fit-content;
    margin-left: auto;
    &.is-pinned{
      background: inherit;
      filter: brightness(1.025);
      box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    }
  }
  .lastColSticky.scroll-x .table-list__line &:last-of-type:not(:empty):not(:first-child){right: -4px;}
}
.table-list__actions{
  --actions-gap: clamp(5px,100px,calc(var(--tablelist-action-width) * 0.1));
  --tablelist-cell-minwidth: var(--tablelist-action-width);
  display: table-cell; white-space: nowrap; text-align: right;
  // display: grid; grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  gap: var(--actions-gap); 
  a{text-decoration: none;}
  &:has(.table-list__action--wrapper.active),
  &:has(.table-list__action--toggler.active){
    .table-list__action{display: none;}
    .table-list__action--wrapper{
      .table-list__action{display: inline-block;}
    }
  }
}
.table-list__action{
  .ui-btn();
  border-radius: 50px;
  display: inline-block; 
  min-width: var(--tablelist-action-width);
  min-height: var(--tablelist-action-width);
  cursor: pointer;
  text-align: center;
  padding: 0 0.5em;
  align-content: center;
  vertical-align: middle;
  background: none;
  color: currentColor;
  text-decoration: none;
  margin: 0;
  // &:has(i[class*="fa"]):after{content:"@";}
}
.table-list__action--wrapper{
  .table-list__actions(); 
  border: 1px solid #000;
  border-radius: 50px;
  // transition: all 0.5s allow-discrete;
  // display: grid; grid-auto-flow: column;
  display: inline-flex; vertical-align: middle;
  .table-list__action{
    display: none;
  }
  &.active{
    padding-inline: 0.5em;
  }
}
.table-list__action--toggler{
  .table-list__action();
  .table-list__action--wrapper.table-list__action();
  display: inline-block;
  .table-list__action--wrapper:not(.active) &:empty{
    .ui-more();
    // i{.ui-more();}
    // .toggler--close{display: none;}
  }
  .table-list__action--wrapper.active &:empty{
    .ui-close();
    // i{.ui-close();}
    // .toggler--open{display: none;}
  }
}
.toggler--close{
  .ui-close();
  .table-list__action--wrapper:not(.active) &{
    display: none;
  }
}
.toggler--open{
  .ui-more();
  .table-list__action--wrapper.active &{
    display: none;
  }
}

// .table-list__container{
//   thead tr{ &:extend(.table-list__headline all);}
//   tbody tr:not(.table-list__headline){ &:extend(.table-list__line all);}
//   td,th{ &:extend(.table-list__cell all);}
// }
// .table-list__headline{
//   th,td{&:extend(.table-list__headline .table-list__cell all);}
// }

.table-list__container{
  thead tr{ &:extend(.table-list__headline all);}
  tr:not(.table-list__headline),
  tbody tr:not(.table-list__headline){ 
    &:extend(.table-list__line all);
  }
  td,th{ &:extend(.table-list__cell all);}
}
.table-list__headline{
  th,td{&:extend(.table-list__headline .table-list__cell all);}
}
.table-list__line{
  th,td{&:extend(.table-list__line .table-list__cell all);}
}

// // LIST SYSTEM
// .table-list{ display: block; width: 100%; 
//   &.fix--shadow,
//   &.scroll-x{ overflow-x: auto; -webkit-overflow-scrolling: touch;width: auto; padding-left: 3px; padding-right: 3px;margin-right: -3px; margin-left: -3px;}
// 	.filters+&{margin-top: 1em;}
//   .input{min-width: 150px;}
//   input[type=number]{min-width: 0;}

//   &.mode--block{ overflow: visible;
//     thead, .table-list__headline{display: none;}
//     tbody, .table-list__container{width: 100%; gap: 1em; display: flex; flex-wrap: wrap; }
//     tbody{.grid(@autocols:auto-fit,@gap:1em); }
//     .table-list__line{position: relative; display: flex;flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 30%; max-width: 100%; min-width: 300px; gap: 1em; padding: 1.35em 1.5em;
//       &:empty,
//       &.filler{background: none; height: 0; border: 0; padding: 0; margin: 0; pointer-events: none;}
//       .media-max(xs,{min-width: 250px;});
//       &.separator{flex-basis: 100%;padding: 0; grid-column: 1/-1;}
//     }
//     .table-list__cell{max-width: none; width: 100%; padding: 0;
//       &:empty{display: none;}
//       &[data-name="actions"]{margin-top: auto; text-align: right;
//         i[class*=fa],svg{font-size: 1.25em;}
//       }
//     }
//     .table-list__actions{display: flex; align-items: center; justify-content: flex-end;}
//     .table-list__cell[data-label]:before{content: attr(data-label); display: block; font-size: 0.8em; opacity: 0.45;}

//     table table{ 
//       &.table{margin-bottom: 1em;}
//       thead, .table-list__headline{display: table-row!important;}
//       tbody, .table-list__container{display: table-row-group!important;}
//       .table-list__line,tr{display: table-row!important;}
//     }
//   }
// }
// .table-list__container{width: 100%; display: table; table-layout: auto; border-collapse: separate; border-spacing: 0 0.5em;
//   &.loading{
//     .table-list__line{ &:extend(.loading all);}
//   }

//   &.keepOne .table-list__headline+.table-list__line:last-child .table-list__cell[data-name="actions"] *[data-action="delete"]{display: none;pointer-events: none;}
// }
// .table-list__headline{transform: translateY(0.5em); display: table-row;
// 	.table-list__cell{white-space: nowrap; max-width: none;
//     &[data-name="actions"]{text-align: center;}
//   }
// }

// .lineColored(){
//   --line: var(--primary);
//   --line-color-l: -20;
//   --line-color-bg-l: 30;
//   background: Hsl(from var(--line) h s calc(l + var(--line-color-bg-l))); 
//   color     : Hsl(from var(--line) h s calc(l + var(--line-color-l)));
// }
// .table-list__line{.paper(); display: table-row;
//   &.filler{display: none;}
//   &.loading{ pointer-events: none;
//     &>*{opacity: 0.3;}
//   }
//   &.separator{background-color: transparent; box-shadow: none; color: rgba(@primary,0.2);
//     & .table-list__cell{padding: 1em 0.5em 0; cursor: pointer;}
//   }

//   // specials
//   &.type--fieldsetStart,
//   &.type--fieldsetStop{background: @primary; color:.getBestReadableFontColorOn(@primary)[@result] ;}
//   &.type--hidden{background: tint(@primary, 90); color:.getBestReadableFontColorOn(tint(@primary, 90))[@result] ; }

//   &.success{
//     .lineColored();
//     --line: @success;
//   }
//   &.info{
//     .lineColored();
//     --line: @info;
//   }
//   &.warning{
//     .lineColored();
//     --line: @warning;
//   }
//   &.error{
//     .lineColored();
//     --line: @error;
//     --line-color-l: -10;
//     --line-color-bg-l: 40;
//   }
// }
// .table-list__cell{ display: table-cell; padding: 0.5em 0.75em; vertical-align: top; min-width: 12ch; word-break: keep-all; overflow-wrap: break-word;
//   .media-max(lg,{max-width: 20vw;});
//   &[data-name*="nb"],{text-align: center;
//     .mode--block &{text-align: left; }
//   }
//   &[data-name="id"]{text-align: center; width: 50px; min-width: 0;
//     .mode--block &{
//       position: absolute;
//       right: 0;
//       top: 0;
//       width: auto;
//       min-width: 0;
//       padding: 0.85em 1em;
//       line-height: 1;
//       font-size: 1.25em;
//       font-weight: bold;
//       opacity: 0.65;
//     }
//   }
//   &[data-name="actions"]{text-align: right; width: 50px; min-width: 0; white-space: nowrap;
//     &.toggled{
//       &>.table-list__action:not(.table-list__action--wrapper){
//         display: none;
//       }
//     }
//   }
//   &[data-name*="tags"], 
//   .valign--middle &, 
//   &.valign--middle {vertical-align: middle;}
//   .table-list__sort{display: inline-block; width: 30px; line-height: 1.2em; cursor: pointer; font-size: 1.35em; text-align: right; margin-left: 1em; opacity: 0.4; transition: opacity 0.4s;
//     &:hover,&.active{opacity: 1;}
//   }
//   .svg-inline--fa{vertical-align: middle;}
//   .lastColSticky .table-list__line &:last-of-type:not(:empty){
//     position: sticky;
//     right: 0;
//     background: inherit;
//     box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
//   }
//   .lastColSticky.scroll-x .table-list__line &:last-of-type:not(:empty){right: -3px;}
// }

// .table-list__action--toggler,
// .table-list__action{display: inline-block; margin: 0.2em; line-height: 1.2; min-width: 1.4em; color: inherit; position: relative; cursor: pointer; text-align: center; aspect-ratio:1; background: green;
//   &:hover{color: @primary;}
//   &.disabled,
//   &[disabled]{opacity: 0.4; pointer-events: none;}
//   &[tooltip]:not([tooltip=""]).tooltipOffset--left:before {left: auto; right: 0; transform: none;}
// }

// .table-list__action--wrapper{  display: inline-flex !important; align-items: center; justify-content: center; border: 1px solid currentColor; border-radius: 100px;
//   .table-list__action{display: none;}
//   .table-list__action--toggler{ display: inline-flex; justify-content: center; aspect-ratio: 1;
//     // align-items: center; 
//     .toggler--close{display: none;}
//   }
//   .table-list__cell.toggled & {padding: 0 0.35em; width: auto !important; 
//     .table-list__action{display: inline-block;}
//     .table-list__action--toggler{
//       .toggler--open{display: none;}
//       .toggler--close{display: inline;}
//     }
//   }
// }

